body {
    color: White;
    background: black;
    margin: 0px;
    font-family: "chakra petch", sans-serif;
}

header{
    border-botton: solid 2xp rgb(42, 122, 228);
    padding: 20xp;
    font-size: 32px;
    color: rgb(42, 122, 228);
}

section{
    background: rgb(184, 156, 213);
    padding-botton: 20xp;
    padding-top: 80xp;
    display: flex;
    justify-content: center;
}

.chamada-texto{
    margin-right: 5%;
}

h1 {
    font-size: 40xp;
}
